.header { display: flex; justify-content: space-between; }
.header__div__a {margin-left: 58px;}
.main__div1 {padding: 86px 80px 164px; display: flex; }
.main__div1__img {flex-basis: 50%; max-width: 48%; }
.main__div1__div { padding-right: 13px; max-width: 52%; display: flex; flex-direction: column; align-self: center;}
.main__div1__div__h2 { margin-bottom: 15px;}
.main__div1__div__p { margin-bottom: 25px;}
.main__div1__div__form { display: flex; justify-content: flex-start;}
.main__div1__div__form__input { width: 55%; padding: 14px 21px;}
.main__div1__div__form__button { width: 35%; margin-left: 16px; padding: 15px 0px;}
.main__div2 {display: flex; flex-direction: column;}
.main__div2--bg {display: flex; justify-content: space-between; padding: 50px 80px 107px; flex-basis: 65%; }
.main__div2__img { max-width: 37%; margin-left: 90px; align-self: center; }
.main__div2__div__h2 { margin-bottom: 38px;}
.main__div2__div__p {margin-bottom: 16px; max-width: 80%;}
.main__div2__div__a {display: flex; align-items: center; margin-bottom: 45px;}
.main__div2__div__a__icon { margin-left: 8px;}
.q { display: inline-block; height: 250px; background: #FFFFFF;box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);border-radius: 5px; width: 356px; }
.q__div { margin: 12px 33px 26px ;}
.q__p { margin: 6px 0 16px;}
.q__span { display: flex; padding-bottom: 26px;}
.q__span__img { width: 32px; height: 32px; border-radius: 50%; margin-right: 5px;}
.main__div3 {display: flex; justify-content: space-between; align-items: center;}
.main__div3__div {flex-basis:  40%; padding: 100px 0px 100px 80px; }
.main__div3__div__h3 {margin-bottom: 17px;}
.main__div3__form { flex-basis: 36% ; padding-right: 120px; display: flex; flex-direction: column;}
.main__div3__form__input { padding: 16px 0 16px 22px;background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 3.125px; border: none; margin-bottom: 16px;}
.main__div3__form__button { padding: 16px 22px; max-width: 200px;} 
.footer__nav { display: flex; justify-content: space-between;}
.footer__nav__div {display: flex; flex-direction: column; }
.m-y-16 { margin: 0px 0px 16px 0px;}

