body {
    background-color: #F2F2F2;
}

.main__div2--bg {
    background-color: #F8F8FE;
}

.main__div3 {
    background: #575988;
}

.footer {
    background: #07043B;
}
.header__img {width: 80px;
    height: 24px;}
.header__div__a {font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #07043B;}
.main__div1__div__h2 {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    
    text-align: center;
    
    color: #07043B;}
.main__div1__div__p {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    
    text-align: center;
    
    color: #07043B;}
.main__div1__div__form__input {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.466667px;
    
    color: #07043B;}
.main__div1__div__form__input::placeholder {font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    letter-spacing: 0.4px;
    
    color: #C2C2C2;}
.main__div1__div__form__button {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;}
.main__div2__div__h2 {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    
    color: #07043B;}
.main__div2__div__p {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    
    text-align: center;
    
    color: #615F7E;}
.main__div2__div__a {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #3DA08F; text-decoration: underline; text-underline-offset: 6px;}
.q__h3 {font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35.3933px;
    line-height: 53px;
    /* or 150% */
    color: #07043B;}
.q__p {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    /* or 181% */
    
    letter-spacing: 0.384615px;
    
    color: #07043B;}
.q__span__span__h4 {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.45px;
    
    color: #07043B;}
.q__span__span__p {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 12px;
    /* identical to box height, or 197% */
    
    letter-spacing: 0.3px;
    
    color: #07043B}
.main__div3__div__h3 {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #FFFFFF;}
.main__div3__div__p {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */   
    text-align: center;
    color: #FFFFFF;}
.main__div3__form__input {font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    
    color: #07043B;}
.main__div3__form__input::placeholder {font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #C0C0C0;}
.main__div3__form__button {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #FFFFFF;}
.footer__img {width: 105px;height: 30px; filter: brightness(0) invert(1);}
.footer__a {font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;}
.icon--sm { color: #FFFFFF;  margin-right: 10px;width: 28.04px;height: 27px;
    border: 0.918357px solid #DFE4F0; border-radius: 50%; text-align: center; padding: 4px;}